.min-window-height-container_minHeight__6OF__ {
    min-height: 100vh
}

@supports(-webkit-touch-callout:none) {
    .min-window-height-container_minHeight__6OF__ {
        min-height: -webkit-fill-available
    }
    @media(min-width:28.125em) {
        .min-window-height-container_minHeight__6OF__ {
            min-height: 100vh
        }
    }
}

.min-window-height-container_flex__BHgJT {
    display: flex
}

.min-window-height-container_centerContents__UEOzb {
    justify-content: center;
    align-items: center
}

.pulse-animation_pulse__uriVB {
    overflow: hidden;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 2px solid;
    transform: scale(1)
}

.name-placeholder_container__kHMvg {
    letter-spacing: 0
}

.triangle-connector_triangleconnector__OnTvt {
    align-self: center;
    width: 0;
    height: 0;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 12px 12px;
    position: absolute;
    top: -11px
}

.transition-components_enter__JImYX {
    opacity: 0
}

.transition-components_enterActive__2ntEs {
    transition: opacity .2s ease;
    opacity: 1
}

.transition-components_exit___Egc2 {
    opacity: 1
}

.transition-components_exitActive__YghSO {
    transition: opacity .2s ease;
    opacity: 0
}

.transition-components_exitDone___EHyq {
    opacity: 0
}

.navbar_outerContainer__i7IJZ {
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: #fff;
    transition: background-color .3s;
    z-index: 2;
    display: grid;
    justify-items: center
}

.navbar_border__96_CG {
    border-bottom: 1px solid #dadada
}

.navbar_negativeMarginTop__qIv_b {
    margin-top: calc(-1*var(--navbar-height))
}

.navbar_backdrop__s3_u6 {
    position: absolute;
    inset: 0 0 auto 0;
    margin-top: 72px;
    height: 100vh;
    z-index: 0;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s
}

.navbar_backdrop__s3_u6.navbar_visible__GK2Ry {
    pointer-events: auto;
    opacity: .5
}

@media(min-width:52em) {
    .navbar_backdrop__s3_u6 {
        display: none
    }
}

.navbar_avatar__rYj07 {
    width: 40px;
    height: 40px
}

.navbar_menu__Y7Yab {
    z-index: 1
}

@media(min-width:52em) {
    .navbar_transparentNav__GqIl6 {
        background-color: transparent
    }
    .navbar_innerContainer__KnEvg {
        display: flex;
        align-items: center;
        flex: 1
    }
}

.navbar_rightSection__ZiIRv {
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    z-index: 2
}

@media(min-width:64em) {
    .navbar_rightSection__ZiIRv {
        gap: 24px
    }
}

@media(max-width:51.999em) {
    .navbar_innerContainer__KnEvg {
        display: grid;
        grid-template-columns: auto auto;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 2
    }
    .navbar_menuOpen__8xLxF {
        border-bottom: 1px solid #dadada
    }
    .navbar_menuOpen__8xLxF .navbar_menu__Y7Yab {
        border-radius: 0 0 8px 8px;
        max-height: calc(100vh - 72px);
        overflow-y: auto
    }
    .navbar_menuOpen__8xLxF .navbar_menu__Y7Yab::-webkit-scrollbar {
        width: 0
    }
    .navbar_menuEnter__T_mQ4,
    .navbar_menuExitActive__pPTx8,
    .navbar_menuExitDone__rt9ax {
        transform: translateY(-100%)
    }
    .navbar_menuEnterActive__LvjX1,
    .navbar_menuExitActive__pPTx8 {
        transition: transform .4s
    }
    .navbar_menuEnterActive__LvjX1,
    .navbar_menuEnterDone__bchGn {
        transform: translateY(0)
    }
}

.navbar_createSpaceModalContainer___4Nfc {
    background: #fff;
    width: 90vw;
    height: 90vh;
    max-width: 2400px;
    border-radius: 12px
}

.navbar_floatingProfile__Tw9Me {
    display: none
}

@media(min-width:52em) {
    .navbar_floatingProfile__Tw9Me {
        display: block
    }
}

.navbar_profileMenu__eNHYt {
    min-width: 0 !important
}

@media(min-width:52em) {
    .navbar_profileMenu__eNHYt.navbar_mobileProfile__PWomt {
        display: none
    }
}

.navbar_modal__pZSiZ {
    position: absolute;
    top: 72px;
    right: 224px;
    transform: translateX(44px);
    margin: 12px 0;
    padding: 16px;
    width: 360px;
    border-radius: 8px;
    box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, .25);
    background-color: #fff
}

@media(min-width:52em) {
    .navbar_modal__pZSiZ {
        right: 248px
    }
}

@media(min-width:64em) {
    .navbar_modal__pZSiZ {
        right: 272px
    }
}

@media(min-width:76em) {
    .navbar_modal__pZSiZ {
        right: 316px
    }
}

@media(min-width:2400px) {
    .navbar_modal__pZSiZ {
        right: calc(316px + (100% - 2400px)/2)
    }
}

.navbar_modalBody__9_mbT {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-shadow: 0 32px 64px rgba(0, 0, 0, .24)
}

.navbar_desktopOnlyButton__PZgXt {
    display: none
}

@media(min-width:52em) {
    .navbar_desktopOnlyButton__PZgXt {
        display: flex;
        align-items: center
    }
}

.space-badges_spaceBadge__KKq5b {
    display: grid;
    grid-auto-flow: column;
    gap: 3px;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(0, 0, 0, .45);
    color: #fff;
    border-radius: 4px;
    padding: 6px;
    font-family: ff-real-headline-pro, sans-serif;
    font-size: 12px;
    font-weight: 600
}

@media(min-width:40em) {
    .space-badges_spaceBadge__KKq5b {
        padding: 6px 8px;
        gap: 5px
    }
}

.space-badges_spaceBadge__KKq5b>div {
    display: flex;
    align-items: center
}

.space-badges_spaceBadge__KKq5b .space-badges_icon__lbWi_ {
    width: 14px;
    height: 14px
}

.space-badges_spaceBadge__KKq5b .space-badges_activeUserText__gTRp5 {
    margin-left: 2px
}

.space-badges_badgeRed__m0Q4C {
    background-color: #f33
}

.space-badges_hide__cgYjS {
    display: none
}

button.collapsable-text_container__8vSXG {
    all: unset !important;
    cursor: pointer !important
}

.collapsable-text_innerContainer__qQj20 {
    overflow: hidden;
    line-height: 1.25rem
}

.collapsable-text_innerContainer__qQj20.collapsable-text_animate__VxoDN {
    transition: height .3s
}

.collapsable-text_text__wo46P {
    display: inline-block;
    word-break: break-word
}

.collapsable-text_placeholder__vuFi4 {
    position: absolute;
    visibility: hidden
}

.collapsable-text_showMore__Dw5Xt {
    font-weight: 600
}

.close-button_button__iDEuL {
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .2));
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 32px;
    height: 32px;
    right: -16px;
    top: -16px;
    position: absolute;
    border-radius: 50%
}

.love-space-button_container__yZhh5 {
    display: flex;
    align-items: center;
    -moz-column-gap: 4px;
    column-gap: 4px;
    font-family: ff-real-text-pro, sans-serif !important;
    font-size: .875rem;
    font-weight: 300;
    color: #fff;
    pointer-events: all
}

svg.love-space-button_icon__Ho_Jd {
    width: 14px;
    transition: opacity 125ms
}

@media(min-width:40em) {
    svg.love-space-button_icon__Ho_Jd {
        width: 16px
    }
}

svg.love-space-button_icon__Ho_Jd.love-space-button_redIcon__3AAF0 {
    color: #f33
}

svg.love-space-button_icon__Ho_Jd.love-space-button_redIcon__3AAF0:hover {
    opacity: .85
}

.row-with-toggle_container__Fgw28 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 48px
}

.row-with-toggle_containerBorder__hAr28 {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 8px
}

.row-with-toggle_title__1KB72 {
    padding-right: 20px;
    font-size: .875rem;
    font-weight: 600
}

.row-with-toggle_disabled__B2HI8 {
    color: #828282;
    cursor: not-allowed
}

.row-with-toggle_notDisabled__PcWxB {
    cursor: pointer
}

.row-with-toggle_notDisabled__PcWxB:hover {
    opacity: .7
}

.copy-to-clipboard-field_text__yvETe {
    scrollbar-width: none;
    -ms-overflow-style: none
}

.copy-to-clipboard-field_text__yvETe::-webkit-scrollbar {
    display: none
}

.sharing-permissions_container__K_fe2 {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    gap: 24px
}

.sharing-permissions_boxWithOutline___72Wr {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding: 8px 0
}

.sharing-permissions_shareLinkContainer__1hpsp {
    display: grid;
    align-items: center;
    grid-template-rows: 48px auto 48px;
    gap: 4px
}

.sharing-permissions_copyLinkContainer__tpeNN {
    padding: 0 12px
}

.sharing-permissions_shareIconContainer__Nnz96 {
    display: flex;
    align-items: center;
    height: 100%
}

.sharing-permissions_shareSettingsContainer__8SXur {
    display: grid;
    align-items: center;
    grid-template-columns: 32px 1fr 132px;
    padding: 0 12px
}

.sharing-permissions_restrictEditDropdown__Yus5_ button,
.sharing-permissions_shareSettingDropdown__JHdjj button {
    font-weight: 600;
    text-transform: none;
    font-size: 1rem;
    letter-spacing: normal;
    width: 100%
}

.sharing-permissions_restrictEditDropdown__Yus5_ button:hover,
.sharing-permissions_shareSettingDropdown__JHdjj button:hover {
    opacity: 1
}

.sharing-permissions_restrictEditDropdown__Yus5_.sharing-permissions_canOpenDropdown__7HgBV button:hover,
.sharing-permissions_shareSettingDropdown__JHdjj.sharing-permissions_canOpenDropdown__7HgBV button:hover {
    opacity: .7;
    cursor: pointer
}

.sharing-permissions_restrictEditDropdown__Yus5_ .sharing-permissions_dropdownItemButton__L4oz_,
.sharing-permissions_shareSettingDropdown__JHdjj .sharing-permissions_dropdownItemButton__L4oz_ {
    padding: 8px 0;
    font-size: 1rem
}

.sharing-permissions_linkSettingsDropdownTitle__KBXem {
    display: flex;
    justify-content: flex-end
}

.sharing-permissions_shareSettingDescription__zak4a {
    color: #aaa;
    font-size: .875rem
}

.sharing-permissions_shareSettingDropdown__JHdjj {
    flex-grow: 1;
    line-height: 1.1;
    max-width: 280px
}

.sharing-permissions_shareSettingDropdown__JHdjj button {
    text-align: left
}

.sharing-permissions_shareSettingDropdown__JHdjj li>button {
    padding: 8px 0;
    letter-spacing: 0
}

.sharing-permissions_shareSettingDropdown__JHdjj li>button.sharing-permissions_selectdropdown__dropdown_item--selected__eNsJQ,
.sharing-permissions_shareSettingDropdown__JHdjj li>button:hover {
    opacity: 1
}

.sharing-permissions_restrictEditDropdown__Yus5_ .sharing-permissions_smallMargin__cWMv0 {
    margin: 0 16px
}

.sharing-permissions_dropdownOption__zMihR {
    display: flex
}

.sharing-permissions_checkIcon__0leFy {
    font-size: 1.25rem;
    color: #28f;
    margin-left: auto
}

.sharing-permissions_rowContainer__kdpGl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    height: 58px
}

.sharing-permissions_labelContainer__sa_1l {
    flex-direction: column;
    display: flex;
    font-weight: 600
}

.sharing-permissions_labelHeading__GN_9Z {
    font-size: .875rem
}

.sharing-permissions_labelSubTitle__0jO1p {
    color: rgba(0, 0, 0, .3);
    font-size: .75rem
}

.sharing-permissions_overflowGroups__fOCxE {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px 12px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .15)
}

.sharing-permissions_overflowGroupsDescription__Wphya {
    padding-right: 20px;
    font-size: .6875rem;
    opacity: .7
}

.sharing-permissions_instancingIcon__KMcDR {
    width: 34px;
    margin: 0 12px 0 2px
}

.sharing-permissions_inviteByEmailContainer__t3s6A {
    padding: 0 12px;
    display: grid;
    align-items: center;
    text-align: left;
    grid-template-columns: 32px 1fr auto;
    height: 48px;
    width: 100%;
    letter-spacing: normal;
    text-transform: none
}

.sharing-permissions_hostToolsTitle__NGWqL {
    display: flex;
    align-items: center
}

.sharing-permissions_proButton__GtgSu {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-transform: inherit;
    letter-spacing: normal;
    align-items: center
}

.sharing-permissions_proButton__GtgSu:hover {
    opacity: .7
}

.sharing-permissions_proLabel__ls86B {
    border: 2px solid #28f;
    border-radius: 500px;
    margin-right: 8px;
    padding: 3px 10px;
    font-size: .875rem;
    font-weight: 600;
    color: #28f
}

.sharing-permissions_proLabel__ls86B:link {
    color: #28f
}

.sharing-permissions_viewProLabel__o9NXR {
    margin: 2px 0 4px;
    font-size: .875rem
}

.facebook_label__Hi8Eg {
    margin-left: 4px
}

a.facebook_icon__7pJIB {
    display: flex;
    align-items: center;
    color: #000
}

.linkedin_label__s0CFl {
    margin-left: 4px
}

a.linkedin_icon__ToVUA {
    display: flex;
    align-items: center;
    color: #000
}

.twitter_label__j3OGR {
    margin-left: 4px
}

a.twitter_icon__U28I4 {
    display: flex;
    align-items: center;
    color: #000
}

.share_container__AH8IE {
    display: grid;
    grid-template-rows: 1fr 48px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

.share_container__AH8IE:after {
    content: "";
    display: block;
    height: 32px
}

.share_socialShareButtonsContainer___r97i {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-self: flex-end;
    gap: 16px;
    width: 100%;
    margin-top: 16px
}

.horizontal-scrollable_container__9HPES {
    position: relative;
    overflow: hidden;
    max-width: 100%
}

.horizontal-scrollable_innerContainer__0K0Ri {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: scroll
}

.horizontal-scrollable_innerContainer__0K0Ri::-webkit-scrollbar {
    display: none
}

.horizontal-scrollable_scrollButton__0mxMY {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    height: 100%;
    align-items: center;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 0 8px 8px #fff;
    display: none;
    opacity: 0;
    transition: opacity .1s
}

.horizontal-scrollable_scrollButton__0mxMY.horizontal-scrollable_visible__1vXeb {
    display: flex;
    opacity: 1
}

.horizontal-scrollable_scrollButton__0mxMY.horizontal-scrollable_left__EMzN_ {
    left: 0
}

.horizontal-scrollable_scrollButton__0mxMY.horizontal-scrollable_right__7Jb71 {
    right: 0
}

.tag_tag__urwZJ {
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 4px;
    font-weight: 500;
    font-family: ff-real-headline-pro, sans-serif;
    font-size: .875rem
}

.tag_clickable__EKvU0 {
    transition: all .2s
}

.tag_clickable__EKvU0:hover {
    background-color: #000;
    color: #fff
}

.space-name-and-creator_container__UijmQ {
    display: flex;
    flex-direction: row;
    position: relative
}

.space-name-and-creator_container__UijmQ.space-name-and-creator_creatorHovered__DlYoA .space-name-and-creator_creatorLink__bt2Pj img {
    transform: scale(1.33) translateY(2px)
}

.space-name-and-creator_container__UijmQ.space-name-and-creator_creatorHovered__DlYoA .space-name-and-creator_creatorLink__bt2Pj .space-name-and-creator_namePlaceholder__I1Ay9 {
    transform: scale(1.33)
}

.space-name-and-creator_container__UijmQ.space-name-and-creator_creatorHovered__DlYoA .space-name-and-creator_creatorName__5Xymd {
    color: #4c4c4c
}

.space-name-and-creator_container__UijmQ.space-name-and-creator_creatorHovered__DlYoA .space-name-and-creator_creatorName__5Xymd.space-name-and-creator_whiteText__EQVL1 {
    color: #fff
}

.space-name-and-creator_container__UijmQ.space-name-and-creator_spaceHovered__puLqH .space-name-and-creator_spaceLink__wDK9Y .space-name-and-creator_underlineInner__iiEWU {
    background-size: 100% 2px
}

.space-name-and-creator_spaceName__NkLWs {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    padding-bottom: 2px;
    text-align: left;
    text-transform: none;
    --underline-gradient-color: #1a1a1a
}

@media(min-width:40em) {
    .space-name-and-creator_spaceName__NkLWs {
        font-size: 1.125rem
    }
}

.space-name-and-creator_spaceName__NkLWs.space-name-and-creator_whiteText__EQVL1 {
    color: #fff;
    --underline-gradient-color: #fff
}

.space-name-and-creator_creatorAvatarThumbnail__IYIFi {
    width: 32px !important;
    height: 32px !important;
    margin-top: 2px;
    margin-right: 10px
}

.space-name-and-creator_creatorAvatarThumbnail__IYIFi .space-name-and-creator_namePlaceholder__I1Ay9,
.space-name-and-creator_creatorAvatarThumbnail__IYIFi img {
    transition: transform .2s
}

.space-name-and-creator_creatorName__5Xymd {
    color: #828282;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: .875rem;
    font-weight: 500
}

@media(min-width:40em) {
    .space-name-and-creator_creatorName__5Xymd {
        font-size: 1rem
    }
}

.space-name-and-creator_creatorName__5Xymd.space-name-and-creator_whiteText__EQVL1 {
    color: #fff
}

.space-name-and-creator_infoRightPanel__AQf_T {
    width: 100%
}

.space-name-and-creator_creatorLink__bt2Pj,
.space-name-and-creator_spaceLink__wDK9Y {
    text-decoration: none
}

.space-name-and-creator_spaceLink__wDK9Y {
    width: 100%
}

.space-name-and-creator_underlineOuter__VMhvQ {
    position: relative
}

.space-name-and-creator_underlineOuter__VMhvQ .space-name-and-creator_underlineInner__iiEWU {
    background-image: linear-gradient(to right, var(--underline-gradient-color, #000), var(--underline-gradient-color, #000));
    background-size: 0 2px;
    background-position: 0 100%, 100% 100%;
    background-repeat: no-repeat;
    transition: background-size .2s
}

.thumbnail-overlay_socialSignals__7rtfd,
.thumbnail-overlay_tooltipBadge__z1VOR {
    transition: opacity .2s
}

.thumbnail_container__HiTDm {
    transition: transform .2s;
    border-radius: 8px
}

.thumbnail_container__HiTDm.thumbnail_sharpCorners__B_TfG {
    border-radius: 0
}

.thumbnail_image__oV6jV {
    transition: transform .2s
}

.thumbnail_imageProtection__Hh6SB {
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .3) 8%, rgba(0, 0, 0, .15) 16%, transparent 24%, transparent)
}

@keyframes hover-preview_fadeIn___AHDE {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes hover-preview_scaleUpIn__fzSfu {
    0% {
        transform: translateY(32px) scale(0)
    }
    to {
        transform: translateY(0) scale(1)
    }
}

.hover-preview_container__x5wMk {
    position: absolute;
    inset: 0;
    overflow: visible;
    z-index: 1;
    pointer-events: none
}

.hover-preview_finalSizeContainer__BK697 {
    position: absolute;
    inset: -8%
}

.hover-preview_scaleInContainer__kchxp {
    position: absolute;
    inset: 0;
    scale: .8620689655;
    transition: all .25s
}

.hover-preview_scaleInContainer__kchxp.hover-preview_visible__dS_53 {
    scale: 1;
    pointer-events: all
}

.hover-preview_scaleInContainer__kchxp.hover-preview_visible__dS_53 .hover-preview_innerContainer__iB7Xv,
.hover-preview_scaleInContainer__kchxp.hover-preview_visible__dS_53 .hover-preview_thumbnailOverlay__Yfwa8,
.hover-preview_scaleInContainer__kchxp.hover-preview_visible__dS_53 .hover-preview_withFade__pj_Fe {
    opacity: 1
}

.hover-preview_innerContainer__iB7Xv,
.hover-preview_thumbnailOverlay__Yfwa8,
.hover-preview_withFade__pj_Fe {
    animation: hover-preview_fadeIn___AHDE .25s;
    animation-delay: 0;
    opacity: 0;
    transition: all .25s
}

.hover-preview_container__x5wMk,
.hover-preview_thumbnailOverlay__Yfwa8,
.hover-preview_thumbnailPlaceholder__QMWpN {
    width: 100%;
    aspect-ratio: 1.618
}

.hover-preview_innerContainer__iB7Xv {
    position: absolute;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 32px 64px rgba(0, 0, 0, .2)
}

.hover-preview_thumbnailContainer__zOxly {
    border-radius: 8px;
    position: absolute;
    inset: 0;
    overflow: hidden;
    aspect-ratio: 1.618;
    z-index: 1
}

.hover-preview_thumbnailContainer__zOxly.hover-preview_flatBottom__cyYKB {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.hover-preview_cubemapPreviewContainer__2MXcb {
    position: absolute;
    inset: 0;
    z-index: 1
}

.hover-preview_cubemapPreview__mkjRE {
    opacity: 0
}

.hover-preview_cubemapPreview__mkjRE canvas {
    width: 100% !important;
    height: 100% !important;
    transform-origin: top left
}

.hover-preview_loaderContainer__b7of3 {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1
}

.hover-preview_loader__YxgPn {
    width: 14px;
    height: 14px
}

.hover-preview_thumbnailOverlay__Yfwa8 {
    position: absolute;
    z-index: 1;
    pointer-events: none
}

.hover-preview_spaceInfo__M_Akq {
    position: relative;
    display: grid;
    margin: 16px;
    gap: 16px
}

.hover-preview_tags__O0Htw {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px
}

.hover-preview_tags__O0Htw .hover-preview_tagAnchor__6pgmm {
    text-decoration: none
}

.hover-preview_tags__O0Htw .hover-preview_tag__UzuDn {
    font-family: ff-real-text-pro, sans-serif;
    font-size: .75rem;
    font-weight: 500;
    white-space: nowrap
}

.hover-preview_description__5fuoX {
    color: #000;
    font-family: ff-real-text-pro, sans-serif;
    font-size: .875rem
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text__J47iI {
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .2))
}

.overflow-menu_tooltip-host__apkSC {
    position: relative;
    display: inline-block;
    text-underline-offset: .0625rem
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text__J47iI {
    opacity: 0;
    transition: transform .2s var(--emo-out), opacity .2s ease;
    -webkit-text-fill-color: initial;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 24px;
    position: absolute;
    z-index: 500;
    pointer-events: none;
    margin: auto;
    padding: 6px 10px;
    left: 50%;
    font-size: .8125rem;
    text-transform: none;
    letter-spacing: normal;
    white-space: nowrap;
    font-weight: 500
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text__J47iI:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--top__VnxmA {
    bottom: 100%;
    transform: translateX(-50%) translateY(10%)
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--top__VnxmA:after {
    top: calc(100% - 2px);
    border-top: 8px solid #fff
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--bottom__kVptK {
    top: 100%;
    transform: translateX(-50%) translateY(-10%)
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--bottom__kVptK:after {
    bottom: calc(100% - 2px);
    border-bottom: 8px solid #fff
}

.overflow-menu_forceOpen__D_Sgb.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text__J47iI,
.overflow-menu_tooltip-host__apkSC:hover .overflow-menu_tooltip-text__J47iI {
    transition-delay: var(--tooltip-delay, .2s);
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--top--hover-red____x1Z:hover {
    background-color: #f33
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--top--hover-red____x1Z:hover:after {
    border-top-color: #f33
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--bottom--hover-red__ff3v4:hover {
    background-color: #f33
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--bottom--hover-red__ff3v4:hover:after {
    border-bottom-color: #f33
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--top--dark__e5lGg {
    background-color: #4c4c4c;
    color: #fff
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--top--dark__e5lGg:after {
    border-top: 8px solid #4c4c4c
}

.overflow-menu_tooltip-host__apkSC .overflow-menu_tooltip-text--clickable__ZZ6W2 {
    cursor: pointer
}

@media(hover:none) {
    .overflow-menu_tooltip-host__apkSC:hover .overflow-menu_tooltip-text__J47iI {
        transition-property: none;
        opacity: 0;
        visibility: hidden
    }
}

.overflow-menu_container__tGIst.overflow-menu_topRight__l_JXe {
    position: absolute;
    top: -12px;
    right: -8px
}

.overflow-menu_container__tGIst.overflow-menu_topRight__l_JXe .overflow-menu_toggleButton__Zx9TV.overflow-menu_visible__Qoxqf {
    opacity: 1;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3)
}

.overflow-menu_container__tGIst.overflow-menu_right__n_yaF {
    margin-left: 16px
}

.overflow-menu_toggleButton__Zx9TV {
    opacity: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: .25s transform var(--emo-out);
    transform: scale(1);
    transition-delay: 0s
}

.overflow-menu_toggleButton__Zx9TV:hover {
    transform: scale(1.1)
}

.overflow-menu_toggleButton__Zx9TV:active {
    transform: scale(1.15)
}

.overflow-menu_toggleButton__Zx9TV.overflow-menu_visible__Qoxqf {
    opacity: 1
}

.overflow-menu_content__4O7w5 {
    margin-top: 10px;
    min-width: 0;
    width: -moz-max-content;
    width: max-content;
    max-width: 120px
}

.overflow-menu_listItem__b_Y0E {
    margin: 4px 0 !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    width: 100% !important
}

.overflow-menu_listItem__b_Y0E.overflow-menu_disabled__C2ZMl {
    opacity: .4;
    cursor: not-allowed
}

button.overflow-menu_deleteButton__ITLej {
    color: #f33 !important
}

button.overflow-menu_deleteButton__ITLej:hover {
    opacity: .7 !important
}

.item_container__a2F_H {
    position: relative
}

.item_container__a2F_H.item_spaceHovered__X2t03:not(.item_container__a2F_H.item_spaceHovered__X2t03.item_disableScale__BEzWr) .item_imageContainer__enR86>img {
    transform: scale(1.15) translateY(4%)
}

.item_shadow__ObXMT {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3)
}

.item_thumbnailContainer__dQp_k {
    border-radius: 8px;
    aspect-ratio: 1.33;
    transition: box-shadow .2s, scale .2s ease-in-out;
    margin-bottom: 8px
}

@media(min-width:40em) {
    .item_thumbnailContainer__dQp_k {
        aspect-ratio: 1.618
    }
}

.updated-terms-modal_modalBody__gzZtq {
    max-height: 95vh;
    padding: 32px;
    overflow-y: auto
}

.updated-terms-modal_container__NesI9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100%;
    gap: 16px;
    width: 320px
}

.updated-terms-modal_title__UVNMF {
    font-size: 1.5rem;
    font-weight: 600
}

.updated-terms-modal_subtitle__rtfv7 {
    font-size: .75rem;
    font-weight: 300;
    color: #aaa
}

.updated-terms-modal_termsAgreement__vS6Jz {
    display: flex;
    cursor: pointer;
    gap: 8px;
    font-size: .75rem;
    font-weight: 300;
    text-align: left
}

.updated-terms-modal_link__hm0Ma {
    color: #07f;
    text-decoration: none
}

.updated-terms-modal_link__hm0Ma:hover {
    opacity: .7
}

.updated-terms-modal_checkbox__FKabP {
    width: 24px;
    height: 24px;
    accent-color: #000;
    cursor: pointer
}

/*# sourceMappingURL=ff67423688a39eb7.css.map*/